# Résultats du stress test
## Résultats
Le plus bas est le mieux. Teste la vitesse d'inversion de matrices avec NumPy.
| Modèle | Processeur | **Score total** | Test 1 | Test 2 | Test 3 | Test 4 | Test 5 |
| ------- | ------ | ----------- | -- | -- | -- | -- | -- |
| MacBook Pro (2017) | i7 quadra coeurs 2.9 GHz | **108.2** | 2.43 | 7.69 | 25.05 | 39.7 | 33.33 |
| iPad Pro (2017) | A10X Fusion | **142.12** | 3.02 | 8.88 | 29.62 | 51.81 | 48.79 |
| iPhone XR (2018) | A12 Bionic | **222.53** | 2.92 | 10.02 | 35.57 | 78.95 | 95.06 |